@import "./button.css";
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #232946;
  font-family: "Jost", sans-serif;
}

body {
  color: #b8c1ec;
}

.hero {
  width: 100%;
}

.title {
  margin: 0;
  width: 100%;
  padding-top: 80px;
  line-height: 1.15;
  font-size: 48px;
}

.title,
.description {
  text-align: center;
}
